name: version_widget
description: A Flutter widget that displays version information with optional changelog date and link.
version: 0.0.3
homepage: https://github.com/yourusername/version_widget

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  markdown_tooltip: ^0.0.7
  url_launcher: ^6.1.14

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true 